.text-example{
  font-size: 18px;
  padding: 30px;
  max-width: 100%;
}

.read-example{
  width: 40%;
  height: 15%;
  font-size: 14px;
  margin-left: 50%;
}

.one:hover {
  opacity: 0.8;
}

.what-is p{
  color: black;
}

.fb-share-button{
  float:left;
  margin-right: 10px;
  margin-top:1px;
}

.twitter-share-button{
  float: left;
  margin-right: 10px;
}

.btn-return{
  width: 220px;
  height: 50px;
  background: #EB6156;
  display: block;
  float: right;
  padding: 10px;
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #FFFFFF;
  text-align: center;
}

.btn-return:hover{
  opacity: 0.8;
}

#disqus_thread{
  margin-top: 20px;
  background: #FFFFFF;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

em{
  color: #000000;
}

p{
  color: #929498;
}

img{
  display: block!important;
  margin: 0 auto;
}

.hero-item.has-title{
  background: none;
}

.img_social{
  display: inline!important;
  margin: 10px 10px -10px 0;
}

.img_social:hover{
  opacity: 0.8;
}
