.text-example{
  font-size: 18px;
  padding: 30px;
  max-width: 100%;
}

.read-example{
  width: 40%;
  height: 15%;
  font-size: 14px;
  margin-left: 50%;
}

.one:hover {
  background: #FF0505;
}

.two:hover {
  background: #FF00E1;
}

.three:hover {
  background: #0000FF;
}

.four:hover {
  background: #00FF22;
}

.what-is p{
  color: black;
}
