.text-example{
  font-size: 18px;
  padding: 30px;
  max-width: 100%;
}

.read-example{
  width: 40%;
  height: 15%;
  font-size: 14px;
  margin-left: 50%;
}

.one:hover {
  background: #FFFD00;
}

.two:hover {
  background: #FF00E1;
}

.three:hover {
  background: #0000FF;
}

.four:hover {
  background: #00FF22;
}

.what-is p{
  color: black;
}

.fb-share-button{
  float:left;
  margin-right: 10px;
  margin-top:1px;
}

.twitter-share-button{
  float: left;
  margin-right: 10px;
}

.btn-return{
  width: 182px;
  height: 27px;
  background: #FFB200;
  display: block;
  float: right;
  padding: 5px;
}

#disqus_thread{
  margin-top: 20px;
  background: #E600FF;
  padding: 10px;
}
