# À la découverte du __Scrumtalpick__
<br>
- - -
<br>
Après moult & moult années de recherches (environ 527 années), le __Scrumtalpick__ est enfin fonctionnel. Suite à des test réalisés sur le chanteur coréen Psy mais également sur Windows Messenger, le produit a prouvé toute son efficacité.

## Un peu d'histoire

"Le 19 novembre 1486, du haut de son mètre 85, un jeune étudiant en web eu l'idée ingénieuse de créer un produit qui changerais sa vie à tout jamais. Alors, qu'il était en cours de gestion de projet où le professeur lisait son Google Presentar sur la méthode Scrum, lui voulait assister aux répétitions de sa chanteuse préféré "Tal". C'est là que lui venu l'idée de pick pocketer le carnet du professeur où était écrit le mot de passe de son compte Gmail. Sa technique était de simuler une chute sur le bureau du professeur en allant donner à manger à son poney. Malheur à lui, il se fit prendre, fut convoqué chez le directeur des études et rata le concert de son idole.
En rentrant chez lui, il décida d'inventer un truc pour ne plus que cette situation se reproduise. Avant de gribouiller sur un bout de papier, il alla chercher un Ballisto. En ouvrant l'emballage il découvrit que le biscuit avait disparu. C'est là qu'il eut l'idée d'inventer un produit qui permettrait de devenir invisible. Tout de suite, il rechercha sur la toile si quelqu'un y avait déjà pensé et s'il existait des procédés capables de rendre invisible une personne ou un produit. Le résultat fut négatif, mais ce jeune homme ne se découragea pas. Il se souvient avoir vu une vidéo sur Youtube de Jean De Copperfield qui faisait totalement disparaitre la Tour Eiffel. C'est alors qu'il ingurgita un gel transparent qui allait pénétrer les membranes pour les remplir entièrement. Le gel s’est alors solidifié en conservant la forme d’origine. il a ensuite ajouté une solution qui a permis de dissoudre les lipides, et par conséquent d'éliminer les parois visibles. Ce jeune homme venait d'inventer le produit d'invisibilité."

## Étymologie

Maintenant sa vie aller changer mais avant il lui fallait trouver un nom à cette magnifique invention: méthode Scrum, fan de Tal et Pick-pocket. Voilà le __Scrumtalpick__ était né. Il ne restait plus qu'à l'améliorer au fil du temps pour en faire un produit complètement ingénieux.
Un repo privé Github fut créé pour permettre à ses descendants de conserver la recette du __Scrumtalpick__ et pouvoir un jour le dévoiler au monde entier.

## Lancement

En ce mois magique, moi arrière-arrière …. petit-fils décide de présenter au monde entier le produit qui va changer votre vie: le __Scrumtalpick__!
<br>
<p style="font-size:12px;">_Pour commander votre produit pour la France appelez le 4 40, pour la Belgique appelez le 4 40, pour le Brésil appelez le 4 40, pour la Roumanie appelez le 4 40 et pour tous les autres pays appelez le 4 40. (Prix d'un appel local + 2 Bitcoins)</p>
<br>
