#__Ecoequitable__: "Joyeux Noël"
<a href="http://scrumtalpick.fr" title="Retour homepage scrumtalpick">
  <span class="btn-return">Retour page précédente</span>
</a>
- - -
<br>
En ce moment, nous sommes débordés par le nombre de commande énorme. Cependant, l'équipe a trouvé le temps de vous souhaiter un Joyeux Noël.

## Le doute plane

Nous espérons que le Père Noël n'a pas commandé un flacon de __Ecoequitable__. Nous ne voulons pas décevoir les enfants. Le doute plane quand même suite à une commande à destination de Laponie. Croisons les doigts.

## Le cadeau tendance

193 039 039 de flacons ont été livrés pour Noël. C'était le cadeau tendance de cette fin d'année. Et vous, avez-vous commander votre flacon de __Ecoequitable__?
<br>
<p style="font-size:12px;">_PS: Un produit appelé Ecoequitable est en vente sur le célèbre site Amazon. Attention à la contrefaçon...</p>
<br>
