#__Ecoequitable__: "Bonne année"
<a href="http://scrumtalpick.fr" title="Retour homepage scrumtalpick">
  <span class="btn-return">Retour page précédente</span>
</a>
- - -
<br>
Toujours débordé par les commandes de plus en plus nombreuses, nous vous souhaitons une bonne et merveilleuse année 2014.

## Ecoequitable réalise vos souhaits pour 2014

Envoyez nous vos souhaits les plus fous pour cette nouvelle année 2014.
<br>
<p style="font-size:12px;">_PS: Le pére noël n'a pas disparu...</p>
<br>
