# Stromae chante __Ecoequitable__
<a href="http://scrumtalpick.fr" title="Retour homepage scrumtalpick">
  <span class="btn-return">Retour page précédente</span>
</a>
- - -
<br>
La rumeur vient d'être lancée ce matin dans le métro parisien. En effet, le nouveau Jacques Brel, Stromae, numéro un dans le monde entier aurait fait une chanson pour la disparition de Javier Pastore.

## Outai PaPa Outai

Le premier single de son nouvel album Racine Carrée n'est ni plus ni moins qu'un avis de recherche pour Javier Pastore. A la suite de notre article, Stromae est enfin rassuré. Nous l'avons eu au téléphone "Je me sens comme un cochon dans la merde. Mon meilleur ami Pastore que je surnomme PaPa n'a pas disparu. C'est génial!".
A la suite de cet entretien Stromae nous a promis de faire une chanson sur le __Ecoequitable__.
<br>
<br>
<iframe width="560" height="315" src="//www.youtube.com/embed/oiKj0Z_Xnjc" frameborder="0">
</iframe>
<br>
<p style="font-size:12px;">_El Flaco a envoyé un maillot dédicacé de Peguy Luyindula</p>
<br>
