# Nouvelle tendance du __Ecoequitable__
<a href="http://scrumtalpick.fr" title="Retour homepage scrumtalpick">
  <span class="btn-return">Retour page précédente</span>
</a>
- - -
Depuis sa sortie officielle la semaine passée, le __Ecoequitable__ fait déjà parler de lui. En effet, les américains ont adopté le mouvement du "invisible dog".

## Le concept

Dimanche 8 décembre un groupe de jeunes New-Yorkais ont fait la une en se baladant avec un chien invisible. Curieux de comprendre, plusieurs passants leur ont demandé comment cela était-il possible. Leur réponse était claire: le __Ecoequitable__. Nous avons été informés de cette tendance après avoir reçu pas loin de 456 789 mails en à peine une heure. Grâce à ces personnes le __Ecoequitable__ s'est fait un nom à dans le monde entier.

![Tendance du chien invisible](assets/images/chien_invisible.jpg "Tendance du chien invisible")

## Vers une inversion

Tout de suite après l'information du chien insible, un homme (anonyme) a voulu créer le buzz. Il a pour cela fait l'inverse en promenant son chien après s'être injecté du __Ecoequitable__.
(_l'identité de la personne est en cours d'analyse)

![Tendance inverse du chien invisible](assets/images/inverse_chien_invisible.jpg "Tendance inverse du chien invisible")

<br>
<p style="font-size:12px;">_Le __Ecoequitable__ sera amélioré prochainement pour rendre le caca de nos animaux invisible</p>
<p style="font-size:12px;">_L'homme qui a créé la tendance inverse est probablement DaddyDay</p>
<br>
