# U2 featuring __Scrumtalpick__
<a href="http://scrumtalpick.fr" title="Retour homepage scrumtalpick">
  <span class="btn-return">Retour page précédente</span>
</a>
- - -
<br>
Le célèbre groupe U2 attend le 2 février prochain pour dévoiler son nouveau single intitulé Invisible.

## Finale du Superbowl

U2 a profité de la finale du Superbowl pour faire découvrir son nouveau single pendant les coupures publicitaires.

## Featuring?

Et oui l'équipe du __Scrumtalpick__ a été choisi pour faire un featuring avec U2 pour ce nouveau single.
<br>
<br>
![U2 featuring Scrumtalpick](assets/images/u2.jpg "U2 featuring Scrumtalpick")
<br>
<p style="font-size:12px;">_Info ou Intox ou Infox?</p>
<br>
