---
title: L'invisibilité informative chaque jour
---

div id="hero"
  div class="primary-content"
    div class="hero-masonry"
      div class="grid-sizer"
      div class="hero-item has-title texty"
        h1 Scrumtalpick
        p class="tagline"
          'L'invisibilité dévoilée

      div class="hero-item w2 what-is one texty"
        = link_to 'decouverte.html' do
          h2 À la découverte du Scrumtalpick
          p Publié le 6 décembre 2013
          p Après moult & moult années de recherches (environ 527 années), le Scrumtalpick est enfin fonctionnel. Suite à des test réalisés sur ...
