---
  title: Tendance du Scrumtalpick
  description: Chien invisible, Scrumtalpick lance la tendance
---

div id="hero"
  div class="primary-content"
    div class="hero-masonry"
      div class="grid-sizer"
      div class="hero-item has-title texty"
        = Maruku.new(partial "views/content/tendance").to_html;

        a name="fb_share" share_url="http://scrumtalpick.fr/tendance.html" type="button"
        script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"
        g:plusone
